@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-dark;
	@apply text-gray-100;
	@apply font-light;
}

.bg-dark {
	background-color: rgb(18 18 18);
}

.bg-nav-mobile {
	background-color: rgba(18, 18, 18, 0.98);
}

.logo-shadow {
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4), 0px 0px 10px rgba(171, 146, 221, 0.5);
}

.typewriter {
	--cursor-color: rgb(249 250 251 / var(--tw-text-opacity));
	--cursor-width: 0.5rem;
}

.typing::after {
	vertical-align: sub !important;
	margin-left: 0.4rem;
	margin-bottom: 0.2rem;
}

.highlight {
	display: inline;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, rgba(167, 139, 250, 0.6) 65%);
}

::-webkit-scrollbar {
	width: 3px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, 0.08);
}

.sign {
	color: #c6e2ff;
	animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
	from {
		text-shadow: 0 0 6px rgba(147, 112, 219, 0.92), 0 0 30px rgba(147, 112, 219, 0.34),
			0 0 12px rgba(147, 112, 219, 0.52), 0 0 21px rgba(147, 112, 219, 0.92),
			0 0 34px rgba(147, 112, 219, 0.78), 0 0 54px rgba(147, 112, 219, 0.92);
	}
	to {
		text-shadow: 0 0 6px rgba(147, 112, 219, 0.98), 0 0 30px rgba(147, 112, 219, 0.42),
			0 0 12px rgba(147, 112, 219, 0.58), 0 0 22px rgba(147, 112, 219, 0.84),
			0 0 38px rgba(147, 112, 219, 0.88), 0 0 60px rgba(147, 112, 219, 1);
	}
}
